<div>
    <p>
        name: <%= @bunk.name %>
        division: <%= @bunk.division %>
        gender: <%= @bunk.gender %>
    </p>
</div>
<table>
    <tr>
        <% bunk_schedule_keys(@bunk_schedule).each do |info| %>
        <th> <%= info %> </th>
        <% end %>
    </tr>
    <% bunk_schedule_data(@bunk_schedule).each do |row| %>
    <tr>
        <% row.each do |data| %>
        <td> <%= data %> </td>
        <% end %>
    </tr>
    <% end %> 
</table>