<div>
  <form action="/dailyschedule/new" method="post">
    <select name="new_schedule_date" id="news_schedule_date">
    <option value="">Select a date</option>
    <% available_dates.each do |id, date| %>
      <option value="<%= id %>"><%= date %></option>
    <% end %>
    </select>

    <table>
      <tr>
      <% @daily_schedule.time_slots.each do |time_slot| %>
        <th>
          <%= time_slot.values.first %>
        </th>
      <% end %>
      </tr>
      <% all_bunks_activities(@daily_schedule) do |bunk, activities, time_slot_id| %>
        <tr>
          <th>
            <%= bunk.name %>
          </th>
          <% activities.each do |activity| %>
            <td>
              <select name="<%= bunk.id %>,<%= time_slot_id %>" id="select_activity">
              <option value="">Select Activity</option>
              <% available_activities.each do |id, name, location| %>
                <option value="<%= id %>"><%= name %> - <%= location %></option>
              <% end %>
              </select>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <input type="submit" value="Autocomplete schedule">
    <form>
</div>

<!-- display a generate month calenday link if one doesn't exist yet. It should post to '/calendar_days/generate' -->
