<div>
  <form action="/dailyschedule/new" method="post">
    <select name="new_schedule_date" id="news_schedule_date">
    <option value="">Select a date</option>
    <% available_dates.each do |id, date| %>
      <option value="<%= id %>"><%= date %></option>
    <% end %>
    </select>

    <table>
      <tr>
      <% @daily_schedule.time_slots.each do |time_slot_id,(start_time, end_time)| %>
        <th>
          <%= start_time %>
        </th>
      <% end %>
      </tr>
      <% @daily_schedule.bunks.each do |bunk| %>
        <tr>
          <th>
            <%= bunk.name %>
          </th>
          <% @daily_schedule.time_slots.each do |time_slot_id, (start_time, end_time)| %>
            <td>
              <select name="<%= bunk.id %>,<%= time_slot_id %>" id="select_activity">
              <% if !!@daily_schedule.schedule[time_slot_id][bunk] %>
                <option value="<%= @daily_schedule.schedule[time_slot_id][bunk].id %>">
                  <%= @daily_schedule.schedule[time_slot_id][bunk].name %>(<%= @daily_schedule.schedule[time_slot_id][bunk].location %>)
                </option>
              <% else %>
                <option value="">Select Activity</option>
              <% end %>
              <% available_activities do |id, name, location| %>
                <option value="<%= id %>"><%= name %> - <%= location %></option>
              <% end %>
              </select>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <input type="submit" value="Autocomplete schedule">
    <form>
</div>

<!-- display a generate month calenday link if one doesn't exist yet. It should post to '/calendar_days/generate' -->
