<div>
  <br>
  <div class="add-object">
    <a href="activities/new">Add New Acivity<i class='fas'>&#xf067;</i></a>
  </div>
  <table class="activities-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Max Bunks</th>
        <th>Double Period</th>
        <th>Youngest Age</th>
        <th>Oldest Age</th>
        <th>Auto Scheduled</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @all_activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.location %></td>
      <td><%= activity.max_bunks %></td>
      <% if activity.double %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
      <td><%= activity.youngest_age %></td>
      <td><%= activity.oldest_age %></td>
       <% if activity.auto_schedule %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
      <td><a href="/activities/<%= activity.id %>/edit"><i class='far'>&#xf044;</i></a></td>
      <td>
        <form action="/activities/<%= activity.id %>/delete" method="post">
          <button type="submit"><i class='far'>&#xf2ed;</i></button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>