<div>
  <br>
  <h3>Default Schedule</h3>
  <form action="/dailyschedules/default/edit" method="post">
    <table class="schedule-table">
      <thead>
        <tr>
          <th></th>
        <% @default_schedule.time_slots.each do |time_slot_id,(start_time, end_time)| %>
          <th>
            <%= start_time %> - <%= end_time %>
          </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @default_schedule.bunks.each do |bunk| %>
          <tr>
            <th class="bunk-name">
              <%= bunk.name %>
            </th>
            <% @default_schedule.time_slots.each do |time_slot_id, (start_time, end_time)| %>
              <td>
                <select name="<%= bunk.id %>,<%= time_slot_id %>" id="select_activity">
                <% if !!@default_schedule.schedule[time_slot_id][bunk] %>
                  <option value="<%= @default_schedule.schedule[time_slot_id][bunk].id %>">
                    <%= @default_schedule.schedule[time_slot_id][bunk].name %>
                    <!--<%= @default_schedule.schedule[time_slot_id][bunk].location %> -->
                  </option>
                <% else %>
                  <option value="">Select Activity</option>
                <% end %>
                <% available_activities do |id, name, location| %>
                  <option value="<%= id %>">
                    <%= name %> <!--- <%= location %>-->
                  </option>
                <% end %>
                </select>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="save-schedule">
      <label for="save">Save Schedule</label>
      <button id="save" type="submit"><i class='far'>&#xf0c7;</i></button>
    </div>
    <form>
    <br>
</div>